@font-face {
    font-family: 'Supercell-Magic';
    src: url('supercell-magic.ttf') format('truetype'); 

/* Adjust the font file name and format if needed */
}

body {
    font-family: 'Supercell-Magic', sans-serif; /* Apply the custom font to the body */
}
tbody {
width: 100%;
height: 100vh;
background: linear-gradient(to bottom, #0095ff, #0ad100, #6600ff);

}
html {
width: 100%;
height: 100vh;
background: linear-gradient(to bottom right, #000000, #000000);

                            }

tablea {
  width: 100%;
  height: 100%;
      border-collapse: collapse;
      
  }
  
  tbod {
width: 100%;
height: 100vh;
background: linear-gradient(to bottom right, #ff66b2, #8a2be2, #ff66b2);

}

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      color: #ffffff;
      font-size: 13px;
    }

    th, td {
      
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
tda {
        width: 100%;
        padding: 8px;
        text-align: left;
}

    th {
        background-color: #00d916;
        margin-bottom: 10px;
    }

    td:first-child {
        padding-left: 20px; /* Add some padding to the first cell for indentation */
    }
nav {
            background-color: #4bc2e6;
            padding: 10px;
  font-size: 0.8em;/* Add padding for better appearance */
        }

        nav a {
            text-decoration: none;
            color: white;
          font-size: 1.5em; 
          padding: 15px;
          /* Change the color of the text if needed */
        }
